@mixin transition($delay) {
  transition: all $delay ease;
}

@mixin line-clamp($number) {
  display: -webkit-box;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $number;
}
