.facility {
  background: url(../../img/bg/04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .section__title {
    margin-bottom: 50px;
  }

  &__item {
    border: 1px solid $ddd;

    border: 1px solid $ddd;
    text-align: center;
    padding: 50px 15px 15px;
    position: relative;
    z-index: 1;
    margin-bottom: 80px;
    @include transition(0.4s);

    &:hover {
      border: none;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    }

    &__icon {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $orange;
      border-radius: 50%;
      color: $white;
      display: grid;
      place-items: center;
      overflow: hidden;

      img {
        width: 80px;
        height: 80px;
        max-height: 80px;
        object-fit: cover;
        border-radius: 50%;
      }
    }

    p {
      @include line-clamp(4);
    }
  }
}
