.facility {
  background: url(../../img/bg/04.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__item {
    border: 1px solid $ddd;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    padding: 50px 15px 15px;
    position: relative;
    z-index: 1;

    &__icon {
      position: absolute;
      top: -50px;
      left: 50%;
      transform: translateX(-50%);
      background-color: $orange;
      width: 80px;
      height: 80px;
      padding: 15px;
      border-radius: 50%;
      color: $white;
      display: grid;
      place-items: center;
    }

    p {
      @include line-clamp(4);
    }
  }
}
