.notice {
  &__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    border: 1px solid $ddd;

    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }
  &__image {
    flex-basis: 20%;
    height: 180px;
  }
  &__text {
    flex-basis: 75%;
  }
}
