.notice {
  &__item {
    border: 1px solid $ddd;
    text-align: center;
    padding: 15px 0;
    margin-bottom: 30px;
  }
  &__image {
    flex-basis: 20%;
    height: 180px;
  }
  &__text {
    flex-basis: 75%;

    span {
      display: block;
    }
  }

  &__btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
}
.date {
  &::before {
    content: "\f073";
    font-family: "fontAwesome";
    display: inline-block;
    margin-right: 8px;
    color: $orange;
  }
}
